@use '../../styles/variables';
@use '../../styles/mixins';

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

#choose_profile {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: variables.$text-color;
  @include mixins.flex-center;
  flex-direction: column;

  h1 {
    margin: 2.6rem;
    font-size: 2.5rem;
  }
}

.profiles {
  display: flex;
}

#driver_profile {
  background-image: url('./imgs/driver.png');
 
  .profile_card {
    margin-left: auto;
    margin-right: 2rem;
  }
}

#mechanic_profile {
  background-image: url('./imgs/mechanic.png');
  .profile_card {
    margin-right: auto;
    margin-left: 2rem;
  }
}




.profile_container {
  width: 49.4vw;
  height: 28rem;
  background-size: cover; 
  background-repeat: no-repeat;
  @include mixins.flex-center;
}

.profile_card {
  width: 24rem;
  height: 13rem;
  background-color: variables.$bg-color;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  svg {
    margin: 2rem;
    transform: scale(7);
  }
  h2 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    margin-top: -2rem;
  }
  p {
    color: variables.$text-color-secondary;
    font-size: 0.9rem;
  }
}

.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

